body {
    background-color: #121212;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.light-mode {
    background-color: #f8f9fa;
    color: #343a40;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 150px);
    flex-direction: column;
    text-align: center;
    padding-top: 80px; /* od góry ekranu */
}

.custom-button {
    background-color: #007bff;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    margin: 10px;
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    max-width: 250px;
    width: 100%;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    position: relative;
}

.custom-button:hover {
    background-color: #007bff;
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(25, 118, 210, 0.3);
}

.custom-button:active {
    background-color: #0D47A1;
    transform: scale(0.98);
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.timer {
    font-size: 2rem;
    font-weight: bold;
    color: #FF5252;
    margin-top: 20px;
}

.modal-lg {
    max-width: 80%;
}

.modal-header,
.modal-body,
.modal-footer {
    background-color: #1F1F1F;
    color: #ffffff;
    border: none;
}

.light-mode .modal-header,
.light-mode .modal-body,
.light-mode .modal-footer {
    background-color: #f8f9fa;
    color: #343a40;
}

.player-name-display {
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 20px;
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(18, 18, 18, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display: none;
}

.spinner-border {
    width: 3rem;
    height: 3rem;
}

.star-rating {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.star {
    font-size: 2rem;
    color: #e9ecef;
    cursor: pointer;
}

.star.checked {
    color: #ffc107;
}

.icon {
    margin-right: 10px;
}

.history-section,
.ranking-section {
    margin-top: 20px;
    background-color: #343a40;
    padding: 20px;
    border-radius: 10px;
}

.light-mode .history-section,
.light-mode .ranking-section {
    background-color: #f8f9fa;
    color: #343a40;
}

.history-title,
.ranking-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.history-list,
.ranking-list {
    list-style-type: none;
    padding: 0;
}

.history-list li,
.ranking-list li {
    padding: 10px;
    border-bottom: 1px solid #ffffff;
}

.light-mode .history-list li,
.ranking-list li {
    border-bottom: 1px solid #1f1f1f;
}

.tutorial-step {
    text-align: center;
    padding: 20px;
}

.tutorial-button {
    background-color: #007bff;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    margin: 10px;
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    position: relative;
    max-width: 150px;
    width: 100%;
}

.tutorial-button:hover {
    background-color: #007bff;
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(25, 118, 210, 0.3);
}

.tutorial-button:active {
    background-color: #007bff;
    transform: scale(0.98);
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 20px; /* Dodajemy odstęp między elementami */
}

.image-container img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.live-camera-feed {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.social-icons a {
    color: #ffffff;
    font-size: 1.5rem;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: rgba(33, 150, 243, 0.8);
}

.login-box {
    background: rgba(0, 0, 51, 0.8);
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 0 0 15px rgba(33, 150, 243, 0.8);
}

.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(33, 150, 243, 0.5);
}

#settingsModal .form-group label {
    color: #007bff;
    transition: color 0.3s ease;
}

#settingsModal .form-group input:focus + label,
#settingsModal .form-group select:focus + label {
    color: #007bff;
}

@media (max-width: 600px) {
    .custom-button {
        width: 80%;
        margin: 5px 0;
    }

    .image-container {
        flex-direction: column;
    }

    .image-container img,
    .live-camera-feed {
        width: 100%;
        height: auto;
        max-width: 100%;
    }

    .navbar {
        flex-direction: column;
    }

    .navbar-brand-container {
        justify-content: center;
        margin-top: 10px;
    }

    .sidebar a {
        font-size: 20px;
    }

    .social-icons {
        position: static;
        margin-top: 10px;
    }
}

#settingsModal .modal-footer {
    display: flex;
    justify-content: space-between;
}