Django
absl-py
asgiref
attrs
cachetools
certifi
charset-normalizer
cffi
colorama
contourpy
cycler
flatbuffers
fonttools
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
grpcio
httplib2
idna
jax
jaxlib
kiwisolver
matplotlib
mediapipe
ml-dtypes
numpy
opencv-contrib-python
opencv-python-headless
opt-einsum
packaging
pandas
pathlib
pillow
proto-plus
protobuf
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pyparsing
python-dateutil
pytz
requests
rsa
scipy
six
sqlparse
tqdm
typing_extensions
tzdata
uritemplate
urllib3
