<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title data-i18n="thanks-feedback"></title>
  <link rel="icon" type="image/png" href="{%static 'ikonki_migi/B.png'%}"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="{% static 'js/feedback.js' %}" async></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="{%static 'css/common.css'%}">
  <link rel="stylesheet" href="{% static 'css/feedback_thanks.css'%}">
</head>
<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg d-flex flex-row justify-content-between .align-content-md-end">
    <div class="p-0">
        <button class="openbtn" onclick="openNav()">&#9776; Menu</button>
    </div>
    <div class="p-2">
        <a class="navbar-brand href="#" id="navbar-brand">Kalambury <i class="fas fa-american-sign-language-interpreting"></i></a>
    </div>
    <div class="social-icons p-0">
        <a href="https://www.facebook.com/RobotykaAutomatykaInformatyka" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.linkedin.com/company/kn-rai/" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin-in"></i></a>
    </div>
  </nav>

  <!-- Side Navigation -->
  <div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="../"><i class="fas fa-home icon"></i><b data-i18n="home-button-sidebar"></b></a>
    <a href="../signs/"><i class="fas fa-american-sign-language-interpreting icon"></i><b data-i18n="signs-button-sidebar"></b></a>
    <a href="../qr_code/"><i class="fas fa-qrcode icon"></i><b data-i18n="qr-code-button-sidebar"></b></a>
    <a href="#"><i class="fas fa-chart-line icon"></i><b data-i18n="statistics-button-sidebar"></b></a>
    <a href="../feedback/" class="active"><i class="fas fa-comments icon"></i><b data-i18n="feedback-button-sidebar"></b></a>
  </div>

  <div class="container">
      <h1 data-i18n="thanks-feedback"></h1>
      <p data-i18n="thanks-message"></p>
      <div class="text-center">
          <a href="{% url 'home' %}" class="btn btn-primary" data-i18n="thanks-back-home-button"></a>
      </div>
  </div>

  <script src="{% static 'js/feedback.js' %}"></script>
  <script>

    var json_translation_EN = "{% static "json_translations/EN.json" %}"
    var json_translation_PL = "{% static "json_translations/PL.json" %}"

  </script>
  <script src="{% static 'js\translation.js'%}"></script>
</body>
</html>