body {
    background-color: white;
    font-family: Arial, sans-serif;
    color: navy;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.button {
    background-color: lightblue;
    border: 2px solid blue;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    color: navy;
}
.button:hover {
    background-color: lightcyan;
}
.button:active {
    color: white;
    background-color: navy;
    border-color: navy;
}
video, img {
    max-width: 100%;
    height: auto;
}