body {
    background-color: #1f1f1f;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

.light-mode {
    background-color: #f8f9fa;
    color: #343a40;
}

.change_color{
    background-color: #0d6efd !important;
    border-radius: 25px;
}

@media (max-width: @screen-xs) {
    .change_color{font-size: 10px;}
}

@media (max-width: @screen-sm) {
    .change_color{font-size: 20px;}
}

@media only screen and (min-width: 768px)
{
    .change_color{font-size: 40px;}
}
.row > .text-center > .change_color {
    transition: transform .25s, background .25s;
  }
.row > .text-center:hover > .change_color  {
    transform: scale(1.2);
    background-color: #0f418d !important;
    position: relative;
    z-index: 1;
    cursor: pointer
  }

.navbar {
    background-color: #007bff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.navbar-brand-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.navbar-brand {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
}

.navbar-brand i {
    margin-left: 10px;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1001;
    top: 0;
    left: 0;
    background-color: #343a40;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover,
.sidebar a.active {
    color: #00d4ff;
    background-color: #1f1f1f;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
}

.openbtn:hover {
    background-color: #0056b3;
}
.img-fluid{
    height:auto;
    max-width: 100%;
    min-width: 40px;
}